.form-wrapper {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 300px;
	max-width: 80%;
	min-width: 100px;
	min-height: 450px;
	padding: 20px 40px;
	border-radius: 2px;
	border: #cacaca solid 1px;
}

label {
	margin-bottom: 0.5em;
	color: #444;
	font-weight: lighter;
	padding-right: 10px;
}

.submit {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logout {
	margin-top: 20px;
}
