.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container-desktop {
    width: 1200px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

.social-login-desktop {
    flex: 50%;
    justify-content: center;
    margin-top:10%;
}

.form-login-desktop {
    flex: 50%;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.35);
}

.separator-desktop {
    position: absolute;
    left: 48%;
    top: 50%;
    margin-left: 5px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.35);
}

.container-tablet {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

.container-phone {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 30px;
    padding-bottom: 15px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }